:root{
  --night-blue:#1E213D;
  --lilaс:#C8A2C8;
  --indigo:#5D76CB;
  --blue_azure:#2A52BE;
  --white:#FFFFFF;
  --margin-small: 10px;
  --margin-medium: 20px;
  --padding-small: 10px;
  --padding-medium: 20px;
  --button-border-radius:10px;
  --titles-text-size:50px;
  --questions-text-size:45px;
  --answers-text-size:40px;
  --next-text-size:30px;
}
*{
    font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: var(--night-blue);
}

body {
  display:flex;
  flex-direction: column;
  align-items: center;
  background-image: url('images/background-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1{
    position: absolute;
    top: 0;
    width: 100%;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--titles-text-size);
    z-index: 1;
}

h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--titles-text-size);
    height: 10px;
}

  .rectangle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%; 
    height: 75%; 
    background-color: var(--lilaс);
    border-radius: var(--button-border-radius);
    flex-direction: column;
    justify-content: space-between;
    padding: var(--padding-medium);
    box-sizing: border-box;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .question {
    font-size: var(--questions-text-size);
    margin-bottom: var(--margin-medium);
    width: 100%;
    text-align: center;
  }
  
  .button {
    box-sizing: border-box; 
    width: calc(50% - 20px); 
    height: 15%;
    background-color: var(--indigo);
    color: var(--white);
    font-size: var(--answers-text-size);
    text-align: center;
    line-height: 50px;
    margin: var(--margin-small);
    border-radius: var(--button-border-radius);
  }

  .next-button-container {
    display: flex;
    justify-content: flex-end;
}

  .next_button{
    border-radius: var(--button-border-radius);
    background-color: var(--blue_azure);
    color: var(--white);
    padding: var(--padding-small) var(--padding-medium);
    font-size: var(--next-text-size);
    margin-right: var(--margin-medium);
  }

  @media (max-width: 600px) {
    h1, h2 {
      font-size: calc(var(--titles-text-size) * 0.6); 
    }
    .question {
      font-size: calc(var(--questions-text-size) * 0.8); 
    }  
    .button {
      width: calc(100% - var(--margin-small) * 2); 
      height: auto; 
      font-size: calc(var(--answers-text-size) * 0.5); 
      padding: var(--padding-small);
      line-height: normal; 
    }
  
    .next_button {
      font-size: calc(var(--next-text-size) * 0.7); 
      padding: var(--padding-small) var(--padding-medium);
    }
    .rectangle {
      width: 90%; 
      height: 85%; 
    }
  }
  
  
  
  